---
import { services } from '@/data/services'
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from '../ui/accordion'
import ServicesAccordion from './services-accordion'
---

<div>
  <ServicesAccordion client:load services={services} />
</div>
