---
import { LucideMoveDown } from 'lucide-react'
import TopHeader from '../hero/top-header.astro'
import { Image } from 'astro:assets'
import HeroImage from '../../images/hero-1.png'
import { Button } from '../ui/button'
import MainNavigation from './main-navigation.astro'
---

<TopHeader />

<div class="relative h-screen w-full">
  <MainNavigation />
  <!-- image -->
  <Image
    src={HeroImage}
    alt="Hero Image"
    class="absolute inset-0 h-full w-full object-cover"
  />

  <!-- overlay -->
  <div class="absolute inset-0 bg-emerald-950/24"></div>

  <!-- content -->
  <div
    class="relative z-10 mx-auto flex h-full max-w-2xl items-center justify-center text-emerald-50 lg:max-w-[2000px]"
  >
    <div
      class="mx-auto flex w-full flex-col gap-y-10 px-4 lg:flex-row lg:items-center lg:justify-between lg:gap-x-4"
    >
      <h1 class="text-4xl font-black sm:text-6xl lg:w-7/12 lg:text-8xl">
        Keeping Walnut Creek Beautiful, One Lawn at a Time
      </h1>

      <div
        class="flex w-full flex-col gap-y-4 rounded-[8px] bg-emerald-950/64 p-4 lg:w-4/12 xl:w-3/12"
      >
        <p>Get back your weekends while we keep your lawn looking it's best</p>
        <Button>Get Free Estimate</Button>
      </div>
    </div>
  </div>
  <div
    class="absolute right-4 bottom-16 mx-auto animate-bounce rounded-full bg-emerald-500 p-2"
  >
    <LucideMoveDown />
  </div>
</div>
