---
import { LucideMail, LucidePhone } from 'lucide-react'
---

<div class="hidden bg-emerald-950 py-2 text-emerald-50 lg:block">
  <div class="mx-auto max-w-[1800px] px-4 lg:flex lg:justify-between">
    <p>Are you ready for a free quote?<a href="#contact">Contact us</a></p>
    <div class="display:none flex gap-x-8">
      <p class="flex gap-x-2"><LucideMail /> grantJackson@walnutlawn.com</p>
      <p class="flex gap-x-2"><LucidePhone /> 803-547-2112</p>
    </div>
  </div>
</div>
