<header class="hidden w-full bg-emerald-950 p-4 text-emerald-50 md:block">
  <div class="mx-auto flex w-full max-w-7xl items-center justify-between">
    <p>
      Are you ready for a free quote? <a
        href="#contact"
        class="text-emerald-500 underline">Contact Us</a
      >
    </p>
    <div class="flex gap-x-2">
      <a href="">gradeyjackson@walnutlawn.com</a>
      <a href="" class="text-emerald-500">803-547-2112</a>
    </div>
  </div>
</header>
