---
import { LucideLeafyGreen } from 'lucide-react'
---

<div class="flex items-center gap-x-2">
  <LucideLeafyGreen className="text-emerald-500" />
  <span class="text-xl font-semibold text-emerald-50">Walnut Lawn</span>
</div>
