---
import Section from '../section.astro'
import Title from '../title.astro'
import { Image } from 'astro:assets'

import aboutImage from '../../images/about-1.png'
---

<Section
  id="about"
  class="flex flex-col items-center gap-y-8 lg:flex-row-reverse lg:gap-x-8"
>
  <Title
    class="lg:w-1/2"
    title="About Us"
    number="01"
    description="Faith, Family, & Beautiful Lawns"
    text="We're the Jackson Family - proud Walnut Creek residents with three children who play in these same yards we care for. Our Christian faith guides how we treat every neighbor and the pride we take in our work. To us, maintaining beautiful spaces is about honoring the community God has blessed us to call home."
  />

  <Image
    src={aboutImage}
    height={1024}
    width={1024}
    alt="About Us"
    class="rounded-lg drop-shadow-2xl/20 drop-shadow-emerald-950 lg:w-1/2"
  />
</Section>
