---
import type { Fragment } from 'react'

export interface Props {
  id?: string
  class?: string
}

const { id, class: className } = Astro.props
---

<section
  id={id}
  class={`my-[200px] max-w-[2000px] mx-auto p-4 ${className || ''}`}
>
  <slot />
</section>
