<header
  class="mx-auto flex w-full max-w-2xl items-center justify-between bg-emerald-950 p-4 text-emerald-50"
>
  <p>Are you ready for a free quote today? <a href="#contact">Contact Us</a></p>
  <div class="flex gap-1">
    <a href="">gradeyjackson@walnutlawn.com</a>
    <a href="">803-547-2112</a>
  </div>
</header>
