---
import { LucideMail, LucidePhone } from 'lucide-react'
---

<div
  class="hidden justify-between bg-emerald-950 px-8 py-2 text-emerald-50 lg:flex"
>
  <p>Are you ready for a free quote?<a href="#contact">Contact us</a></p>
  <div class="display:none flex gap-x-8">
    <p class="flex gap-x-2"><LucideMail /> grantJackson@walnutlawn.com</p>
    <p class="flex gap-x-2"><LucidePhone /> 803-547-2112</p>
  </div>
</div>
