---
import Section from '../section.astro'
import Title from '../title.astro'
import { TestimonialSlider } from './testimonial-slider'
---

<Section class="gap grid gap-y-8" id="work">
  <div class="flex">
    <div class="lg:w-1/2"></div>
    <Title
      class="lg:w-1/2"
      title="Testimonials"
      number="05"
      description="Hear From Your Walnut Creek Neighbors"
      text="We're proud to be the lawn care choice for families  throughout our community. See what your neighbors are saying about their experience with our reliable, friendly service."
    />
  </div>

  <TestimonialSlider client:only />
</Section>
---
