---
import Section from '../section.astro'
import Title from '../title.astro'
import { TestimonialSlider } from './testimonial-slider'
---

<Section class="gap grid gap-y-8" id="work">
  <div class="flex">
    <div class="lg:w-1/2"></div>
    <Title
      class="lg:w-1/2"
      title="Our Work"
      number="03"
      description="Everything Your Lawn Needs to Thrive"
      text="A picture is worth a thousand words. Browse recent projects from our neighborhood to see the results for yourself"
    />
  </div>

  <TestimonialSlider client:only />
</Section>
