---
import Section from '../section.astro'
import Title from '../title.astro'
import { TestimonialCarousel } from './testimonial-carousel'
---

<Section class="grid gap-y-8" id="faq">
  <div class="flex">
    <div class="lg:w-1/2"></div>
    <Title
      class="lg:w-1/2"
      title="Testimonials"
      number="03"
      description="Hear From Your Walnut Creek Neighbors"
      text="We're proud to be the lawn care choice for families  throughout our community. See what your neighbors are saying about their experience with our reliable, friendly service."
    />
  </div>

  <TestimonialCarousel client:only />
</Section>
